/Segura_IT13B_Activities/nbproject/private/
/Segura_IT13B_Activities/build/
/IT13A_activities/nbproject/private/
/IT13A_Cuizon_activities/nbproject/private/
/IT13A_Cuizon_activities/build/
/Segura_IT13B_Activities/src/Midterm/nbproject/private/
/Segura_IT13B_Activities/src/SEGURA_IT13B_Activities/nbproject/private/
/Segura_IT13B_Activities/Palindrome/nbproject/private/
/Segura_IT13B_Activities/Palindrome/build/
